<p id="notice"><%= notice %></p>

<h1>Listing Verdicts</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Opinion left</th>
      <th>Opinion right</th>
      <th>Winner</th>
      <th>Confirmed judges</th>
      <th>Confirmed public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @verdicts.each do |verdict| %>
      <tr>
        <td><%= verdict.status %></td>
        <td><%= verdict.opinion_left %></td>
        <td><%= verdict.opinion_right %></td>
        <td><%= verdict.winner %></td>
        <td><%= verdict.confirmed_judges %></td>
        <td><%= verdict.confirmed_public %></td>
        <td><%= link_to 'Show', verdict %></td>
        <td><%= link_to 'Edit', edit_verdict_path(verdict) %></td>
        <td><%= link_to 'Destroy', verdict, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Verdict', new_verdict_path %>
