<div class="profile-container">
  <div class="col-lg-4 col-sm-6">
    <%= image_tag @profile.avatar.url(:large), alt:"avatar-img", class:"img-responsive img-avatar" %>
  </div>
  <div class="col-lg-8 col-sm-6 publicly-visible">
  <h3 class="publicly-visible-warning">Your publicly visible profile</h3>
    <h2> <%= @profile.display_name %></h2>
  <p>
    <strong>Current Wait List Ranking:</strong>
    <%= @profile.user.rank %>
  </p>
  <p>
    <strong>Total Accumulated Points:</strong>
    <%= @profile.points %>
  </p>
  <p>
    <strong>Bio:</strong>
    <%= @profile.about_me %>
  </p>
  <p>
    <strong> Location:</strong> <%= @profile.city %>, <%= @profile.state %>
  </p>
  </div>
  <div class="col-lg-12 col-sm-12 privately-visible">
    <h3 class="publicly-visible-warning">This part of your profile is always kept private.</h3>
  <p>
    <%= @profile.first_name %> <%= @profile.last_name %>
  </p>
  <p>
    <%= @profile.user.email %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @profile.age %>
  </p>
  <p>
    <strong>Political affiliation:</strong>
    <%= @profile.political_affiliation %>
  </p>
  </div>
  <%= link_to 'Edit', edit_profile_path(@profile) %>
  <div class="profile-activity">
    <h1>INSERT RECENT DEBATES YOU"VE BEEN INVOLVED IN</h1>
    <h1>ALSO DEBATES YOU ARE FOLLOWING(?)</h1>
  </div>
</div>
