<h2 class="center"> Have the debaters managed to persuade you? Vote again to determine the winner. </h2>

    <ul class="center voting-buttons">
      <div class="col-lg-4 col-sm-6 voting-options">
            <%= form_for(@debate_vote) do |f1| %>
                <% if @debate_vote.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@debate_vote.errors.count, "error") %> prohibited this debate_vote from being saved:</h2>
                    <ul>
                    <% @debate_vote.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
            <div class="hidden">
                <%= f1.label :user_id %><br>
                <%= f1.label :debate_id %><br>
                <%= f1.number_field :debate_id, value: @debate.id %>
                <%= f1.text_field :vote_after, value: "I agree" %>
            </div>
            <%= f1.submit "I agree", :class=>"actions btn btn-lg btn-success" %>
          <% end %>
    </div>
      <div class="col-lg-4 col-sm-6 voting-options">
            <%= form_for(@debate_vote) do |f2| %>
                <% if @debate_vote.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@debate_vote.errors.count, "error") %> prohibited this debate_vote from being saved:</h2>
                    <ul>
                    <% @debate_vote.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
            <div class="hidden">
                <%= f2.label :user_id %><br>
                <%= f2.label :debate_id %><br>
                <%= f2.number_field :debate_id, value: @debate.id %>
                <%= f2.text_field :vote_after, value: "I agree" %>
            </div>
            <%= f2.submit "I am not sure", :class=>"actions btn btn-lg btn-warning" %>
          <% end %>
    </div>
      <div class="col-lg-4 col-sm-6 voting-options">
            <%= form_for(@debate_vote) do |f3| %>
                <% if @debate_vote.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@debate_vote.errors.count, "error") %> prohibited this debate_vote from being saved:</h2>
                    <ul>
                    <% @debate_vote.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
            <div class="hidden">
                <%= f3.label :user_id %><br>
                <%= f3.label :debate_id %><br>
                <%= f3.number_field :debate_id, value: @debate.id %>
                <%= f3.text_field :vote_after, value: "I agree" %>
            </div>
            <%= f3.submit "I disagree", :class=>"actions btn btn-lg btn-danger" %>
          <% end %>
    </div>
    </ul>
