<%= form_for(@debate_vote ) do |f| %>
  <% if @debate_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debate_vote.errors.count, "error") %> prohibited this debate_vote from being saved:</h2>

      <ul>
      <% @debate_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="hidden">
    <%= f.label :user_id %><br>
    <%= f.label :debate_id %><br>
    <%= f.number_field :debate_id, value: @debate.id %>
  </div>
  <div class="field">
    <h3 class="center"> Have the debaters managed to persuade you? Vote again to determine the winner. </h3>
    <% if current_user.nil? %>
      <h4 class="center"> <em>Note that you must register to record your vote and see the results. Clicking below will redirect you to the login page.
        <br>Also also note that registering to vote<b> will not subscribe </b> you to any automated mailing lists.</em>
      </h4>
    <% end %>
    <h3>
      <b>Resolved:</b><%= @debate.topic.title %>
    </h3>
    <ul class="center">
    <div class="col-lg-4 col-sm-6">
       <li class="voting-options">
        <%= f.label :agree, "I support the resolution.", :class=> "voting-options" %>
        <%= f.radio_button :vote_after, "I agree" %>
      </li>
    </div>
    <div class="col-lg-4 col-sm-6">
      <li class="voting-options">
        <%= f.label :undecided, "I am not sure", :class=> "voting-options" %>
        <%= f.radio_button :vote_after, "I am not sure" %>
      </li>
    </div>
    <div class="col-lg-4 col-sm-6">
      <li class="voting-options">
        <%= f.label :disagree, "I disagree with the resolution.", :class=> "voting-options" %>
        <%= f.radio_button :vote_after, "I disagree" %>
      </li>
    </div>
      <li class="voting-options">
        <%= f.submit "Submit final vote", :class=>"actions btn btn-success" %>
      </li>
    </ul>
  </div>
<% end %>
