    <h2 class="center"> Before viewing the debate, please tell us which way you are leaning.</h2>
<!--     <h3>
      <b>Resolved:</b><%= @debate.title %>
    </h3> -->
    <ul class="center voting-buttons">
      <div class="col-lg-4 col-sm-6 voting-options">
            <%= form_for(@debate_vote) do |f1| %>
                <% if @debate_vote.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@debate_vote.errors.count, "error") %> prohibited this debate_vote from being saved:</h2>
                    <ul>
                    <% @debate_vote.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
            <div class="hidden">
                <% if current_user %>
                <%= f1.number_field :user_id, value: current_user.id %><br>
                <% end %>
                <%= f1.number_field :debate_id, value: @debate.id %>
                <%= f1.text_field :vote_before, value: "I agree" %>
            </div>
            <%= f1.submit "In Favor", :class=>"actions btn btn-lg btn-success" %>
          <% end %>
    </div>
      <div class="col-lg-4 col-sm-6 voting-options">
            <%= form_for(@debate_vote) do |f2| %>
                <% if @debate_vote.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@debate_vote.errors.count, "error") %> prohibited this debate_vote from being saved:</h2>
                    <ul>
                    <% @debate_vote.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
            <div class="hidden">
                <% if current_user %>
                <%= f2.number_field :user_id, value: current_user.id %><br>
                <% end %>
                <%= f2.number_field :debate_id, value: @debate.id %>
                <%= f2.text_field :vote_before, value: "I am not sure" %>
            </div>
            <%= f2.submit "Undecided", :class=>"actions btn btn-lg btn-warning" %>
          <% end %>
    </div>
      <div class="col-lg-4 col-sm-6 voting-options">
            <%= form_for(@debate_vote) do |f3| %>
                <% if @debate_vote.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@debate_vote.errors.count, "error") %> prohibited this debate_vote from being saved:</h2>
                    <ul>
                    <% @debate_vote.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
            <div class="hidden">
                <% if current_user %>
                <%= f3.number_field :user_id, value: current_user.id %><br>
                <% end %>
                <%= f3.number_field :debate_id, value: @debate.id %>
                <%= f3.text_field :vote_before, value: "I disagree" %>
            </div>
            <%= f3.submit "Against", :class=>"actions btn btn-lg btn-danger" %>
          <% end %>
    </div>
    </ul>
