<%= form_for(@debater) do |f| %>
  <% if @debater.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@debater.errors.count, "error") %> prohibited this debater from being saved:</h2>

      <ul>
      <% @debater.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :record %><br>
    <%= f.text_field :record %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
