<%= form_for(@charity_email) do |f| %>
  <% if @charity_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@charity_email.errors.count, "error") %> prohibited this charity_email from being saved:</h2>

      <ul>
      <% @charity_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
