<p id="notice"><%= notice %></p>

<h1>Listing Charity Emails</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charity_emails.each do |charity_email| %>
      <tr>
        <td><%= charity_email.email %></td>
        <td><%= link_to 'Show', charity_email %></td>
        <td><%= link_to 'Edit', edit_charity_email_path(charity_email) %></td>
        <td><%= link_to 'Destroy', charity_email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charity email', new_charity_email_path %>
