<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h3>Hello <%= @debate.creator.profile.display_name %>,</h3>
  <p>
  Congratulations, your debate challenge has been accepted by <%= @debate.challenger.profile.display_name %>.
  </p>

  <h3><b> Debate topic: </b> <%=@debate.title%> </h3>
  <h3><b> Your position: </b> <%=@creator_side%> </h3>

  <h4>What happens next?</h4>
  <p>
    The only live round of a Citizen Debate is the cross-examination, and so the next step is for you and your challenger to confirm a mutually agreeable time to begin that round.
  </p>
  <p>
    To coordinate the date and time for your cross-examination round, please sign in and visit the <a href=<%= "www.citizendebate.org/debates/#{@debate.to_param}/schedule" %>>debate scheduling page</a> for this debate. You can also login and view your Debates page, and you should see an option to <b> "schedule this debate" </b>.
  </p>

  <p>
    Do note that your opponent may still be working on their opening statement, which is due at least 1 hour before the scheduled cross-examination round. Likewise, keep in mind that you will have 24 hours to complete your closing statement after the completion of the cross examination round.
  </p>

<p>Finally, as part of our early adopter program, we recommend that all of our debaters follow the link below to join our Slack channel, so that we you can communicate with each other and the site administrators as necessary.</p>
<ul>
  <li><a href="http://bit.ly/citizen-debate-slack">http://bit.ly/citizen-debate-slack </a></li>
</ul>

  <p>Best of luck with your upcoming debate!</p>
</body>
</html>
