<div class="debate-details">
  <h2 class="text-left">
    <span class="resolved">Today's debate:</span> <%= link_to @debate.topic.title, debate_path(@debate) %>
  </h2>
  <div class="col-lg-6 col-md-3 affirmative-details">
    <h4 class="col-lg-4">Supporting the affirmative:</h4>
    <% if @debate.affirmative_debater %>
    <h3 class="col-lg-8">
    <%= image_tag @debate.affirmative_debater.user.profile.avatar.url(:thumb), alt:"avatar-img", class:"img-debate-details" %>
     <strong><%= @debate.affirmative_debater.user.profile.display_name %></strong>
    </h3>
    <br>
    <h4 class="text-left">
        <b> Bio</b>: <%= truncate(@debate.affirmative_debater.user.profile.about_me, length: 120, separator: ' ') %>
    </h4>
    <% elsif @debate.public_challenge == true || @debate.challenger_id == current_user.id || @debate.challenger_email == current_user.email %>
        <%= link_to 'Accept this challenge', accept_challenge_debate_path(@debate),  method: :post,  class: "btn btn-success" %>
    <% else %>
    <h4>TBD - Awaiting challenge acceptance</h4>
    <% end %>
  </div>

  <div class="col-lg-6 col-md-3 ">
    <h4 class="col-lg-4">Supporting the negative:</h4>
    <% if @debate.negative_debater %>
    <h3 class="col-lg-8">
    <%= image_tag @debate.negative_debater.user.profile.avatar.url(:thumb), alt:"avatar-img", class:"img-debate-details" %>
     <strong><%= @debate.negative_debater.user.profile.display_name %></strong>
    </h3>
    <br>
    <h4 class="text-left">
        <b> Bio</b>: <%= truncate(@debate.negative_debater.user.profile.about_me, length: 120, separator: ' ') %>
    </h4>
    <% elsif current_user.nil? %>
        <a href="/users/sign_in" class="btn btn-default">Please sign in if you wish to accept debate challenges</a>
    <% elsif (@debate.public_challenge == true && @debate.creator_id != current_user.id) || @debate.challenger_id == current_user.id || @debate.challenger_email == current_user.email %>
        <%= link_to 'Accept this challenge', accept_challenge_debate_path(@debate),  method: :post,  class: "btn btn-success" %>
    <% else %>
    <h4>TBD - Awaiting challenge acceptance</h4>
    <% end %>
  </div>
  <div class="space-holder">
  </div>
</div>
