<div class="debate-details">
  <h1>
    <span class="resolved">RESOLVED:</span> <%= @debate.title %>
  </h1>

  <% if @debate.liberal_side == @debate.creator %>
    <div class="col-lg-6 col-md-3 liberal-side">
    <% else %>
    <div class="col-lg-6 col-md-3 conservative-side">
  <% end %>
    <h4>In favor of the resolution:</h4>
    <% if @debate.affirmative_debater %>
    <h3>
    <%= image_tag @debate.affirmative_debater.user.profile.avatar.url(:thumb), alt:"avatar-img", class:"img-debate-details" %>
     <strong><%= @debate.affirmative_debater.user.profile.display_name %></strong>
     <% if @debate.winner == @debate.affirmative_debater && session[:vote_after] %>
        <span class="glyphicon glyphicon-ok highlight-winner-details"> Winner </span>
      <% end %>
    </h3>
    <br>

    <% elsif @debate.public_challenge == true || @debate.challenger_id == current_user.id || @debate.challenger_email == current_user.email %>
        <%= link_to 'Accept this challenge', accept_challenge_debate_path(@debate),  method: :post,  class: "btn btn-success" %>
    <% else %>
    <h4>TBD - Awaiting challenge acceptance</h4>
    <% end %>
  </div>

  <% if @debate.liberal_side == @debate.challenger %>
    <div class="col-lg-6 col-md-3 liberal-side">
    <% elsif @debate.challenger %>
    <div class="col-lg-6 col-md-3 conservative-side">
    <% else %>
    <div class="col-lg-6 col-md-3">
  <% end %>    <h4>Against the resolution:</h4>
    <% if @debate.negative_debater %>
    <h3>
    <%= image_tag @debate.negative_debater.user.profile.avatar.url(:thumb), alt:"avatar-img", class:"img-debate-details" %>
     <strong><%= @debate.negative_debater.user.profile.display_name %></strong>
     <% if @debate.winner == @debate.negative_debater && session[:vote_after] %>
        <span class="glyphicon glyphicon-ok highlight-winner-details"> Winner </span>
      <% end %>
    </h3>
    <br>
   <!--  <h4>
        <b> Bio </b>: <%=@debate.negative_debater.user.profile.about_me %>
    </h4> -->
    <% elsif current_user == @debate.creator %>
        <a href="#" class="btn btn-success" data-toggle="modal" data-target="#shareModal">Share this debate</a>
    <% elsif current_user.nil? %>
        <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#loginModal">Ready to join this debate?</a>
    <% elsif (@debate.public_challenge == true && @debate.creator_id != current_user.id) || @debate.challenger_id == current_user.id || @debate.challenger_email == current_user.email %>
        <%= link_to 'Accept this challenge', accept_challenge_debate_path(@debate),  method: :post,  class: "btn btn-success" %>
    <% else %>
    <h4>TBD - Awaiting challenge acceptance</h4>
    <% end %>
  </div>

   <!-- h4 class="col-lg-12 col-md-3 ">
    <strong>Debate Status:</strong>
    <%=@debate.update_status %>
    <br>
    <strong>Last Update:</strong>
    <%= @debate.time_since_updated %>
    <br>
  </h4> -->
</div>
