<h1>
  <%= @debate.topic.title %>
</h1>

<h3>About the debaters</h2>

<div class="col-lg-6 col-md-3">
  <strong>Affirmative:</strong>
  <%= image_tag @debate.affirmative_debater.user.profile.avatar.url(:thumb), alt:"avatar-img", class:"img-responsive" %>
  About <%= @debate.affirmative_debater.user.profile.display_name %>:
  <h4>
      <%=@debate.affirmative_debater.user.profile.about_me %>
  </h4>
</div>

<div class="col-lg-6 col-md-3">
  <strong>Negative:</strong>
  <%= image_tag @debate.negative_debater.user.profile.avatar.url(:thumb), alt:"avatar-img", class:"img-responsive" %>
  About <%= @debate.negative_debater.user.profile.display_name %>:
  <h4>
      <%=@debate.negative_debater.user.profile.about_me %>
  </h4>
</div>

 <h4>
  <strong>Status:</strong>
  <%=@debate.update_status %>
  <br>
  <strong>Date:</strong>
  <%= @debate.start_date %>
  <br>
  <small class="text-muted">Note: if you hear a notification sound but do not see any new messages, please simply refresh the page.</small>
</h4>

