<h3 class="center results-cta">
   <%= link_to "View more debates", debates_path, class: "fa btn btn-success" %>
</h3>
<h4 class="col-lg-12 col-sm-12">
  <b> Total votes cast:</b> <%= @debate.after_count %>
</h4>
<table class="col-lg-6 col-sm-6 results-table">
  <thead>
    <tr>
      <th></th>
      <th class="align-right">Initial Vote</th>
      <th>After Vote</th>
    </tr>
  </thead>

  <tbody>
      <% if @debate.winner == @debate.affirmative_debater %>
        <tr class="highlight-winner">
        <% else %>
      <tr>
      <% end %>
        <td class="align-right"> Voting In Favor </td>
        <!-- <td><%= @debate.before_agree %></td> -->
        <td class="align-right"><%= number_to_percentage((@debate.before_agree.to_f / @debate.before_count.to_f)*100, precision: 2) %></td>
        <td class="left-border"><%= number_to_percentage((@debate.after_agree.to_f / @debate.after_count.to_f)*100, precision: 2) %></td>
      </tr>
      <tr>
        <td class="align-right"> Undecided </td>
        <!-- <td><%= @debate.before_unsure %></td> -->
        <td class="align-right"><%= number_to_percentage((@debate.before_unsure.to_f / @debate.before_count.to_f)*100, precision: 1) %></td>
        <td class="left-border"><%= number_to_percentage((@debate.after_unsure.to_f / @debate.after_count.to_f)*100, precision: 1) %></td>
      </tr>
      <% if @debate.winner == @debate.negative_debater %>
        <tr class="highlight-winner">
        <% else %>
      <tr>
      <% end %>
        <td class="align-right"> Voting Against </td>
        <!-- <td><%= @debate.before_disagree %></td> -->
        <td class="align-right"><%= number_to_percentage((@debate.before_disagree.to_f / @debate.before_count.to_f)*100, precision: 1) %></td>
        <td class="left-border"><%= number_to_percentage((@debate.after_disagree.to_f / @debate.after_count.to_f)*100, precision: 1) %></td>
      </tr>
  </tbody>
</table>

<div class="col-lg-6 col-sm-6 results-chart">
  <%= pie_chart({"In Favor" => @debate.after_agree, "Against" => @debate.after_disagree, "Undecided" =>@debate.after_unsure}, id: "after-chart", height: "140px") %>
</div>
<!-- <div class="summary">

<% if @debate.winner.is_a?(Debater) %>
<h2 class="col-lg-6 col-sm-6 center winner">Trending winner: <%= @debate.winner.user.profile.display_name %>
<%= image_tag @debate.winner.user.profile.avatar.url(:thumb), alt:"avatar-img", class:"img-debate-details" %>
<% else %>
<h2 class="col-lg-6 col-sm-6 center winner">Trending winner: <%= @debate.winner %>
<% end %>
</h2>
</div> -->

<div class="col-lg-12 col-sm-6 social-prompt">
  <h2 class="center">Think your friends feel the same way?</h2>
   <!--  <smaller> <a href=<%= "www.citizendebate.org/debates/#{@debate.to_param}" %> target="_blank"> <%= "www.citizendebate.org/debates/#{@debate.to_param}" %></a></smaller> -->
    <div class="center">
    <a href=<%= "https://www.facebook.com/sharer/sharer.php?sdk=joey&u=http%3A%2F%2Fwww.citizendebate.org/debates/#{@debate.to_param}%2F&display=popup&ref=plugin&src=share_button&utm_source=Facebook&utm_campaign=Share_Results" %> class="btn btn-default btn-fb" target="_blank">
      <i class="fa fa-facebook fa-fw"></i> Share
    </a>
    <a href="https://twitter.com/share" class="btn btn-default btn-twitter twitter-share-button" data-url=<%= "www.citizendebate.org/debates/#{@debate.to_param}?utm_source=Twitter&utm_campaign=Share_Results" %> data-via="citizendebate16" data-size="large">
    <i class="fa fa-twitter fa-fw"></i>Tweet</a>
    </div>
</div>



