<div class="profile-container small-buffer">
<div class="col-lg-12 col-sm-6">
  <h1 class="center">Confirm your debate schedule</h1>
  <p> The next round of the debate will be a live chat for up to 20 minutes. </p>
        <ul>
          <li><b>Please use this page to schedule the time for that middle round. </b></li>
          <li>Note that after completion of the cross-examination round, each debater <b> will have 24 hours</b> to submit their closing statement.</li>
          <li>After closing statements, the debate will become visible to the public to cast their   votes.</li>
        </ul>
    </li>


  <!-- <h3><b>Topic: </b><%= @debate.title %></h3> -->
</div>

<% if @opponent_proposed_times.count > 0 %>
<div class="col-lg-12 col-sm-6 review-times-container">
        <h3>Times your opponent is available:</h3>
        <% @opponent_proposed_times.each do |time| %>

          <div class="available-time-slot col-lg-4  col-sm-3">
              <%= time.proposed_time.strftime("%a %b %d, %Y at %I:%M%p %Z") %> <br>
              <%= link_to 'Confirm this time', confirm_available_time_path(time),  method: :post,  class: "btn btn-success" %>
          </div>
        <% end %>
</div>
<% end %>

<div class="col-lg-12 col-sm-6 proposing-times-container">
    <h3>Please use the blue calendar selector below to propose 2-3 times you are available, or confirm a previously offered time. When finished, please notify your opponent of the times you are available.</h3>

    <div class="col-lg-12 col-sm-6">
    <%= render partial: 'available_times/form', locals: {opponent: @opponent, debate: @debate}  %>
    </div>

    <% if @current_user_proposed_times.count > 0 %>
      <h3>
      Times you're available: <%= link_to 'Notify your opponent', share_times_with_opponent_debate_path(@debate),  method: :get,  class: "btn btn-success btn-notify-opponent" %>
      </h3>
      <% @current_user_proposed_times.each do |time| %>
          <div class="available-time-slot col-lg-4  col-sm-3 btn btn-default">
              <%= time.proposed_time.strftime("%a %b %d, %Y at %I:%M%p %Z") %>
          </div>
      <% end %>
      <br><br>
      <h4>
      </h4>
    <% end %>
</div>


<h2>
    <!-- <td><%= link_to 'Send Proposed Times to Opponent', accept_challenge_debate_path(@debate),  method: :post,  class: "btn btn-default" %></td> -->
</h2>


</div>
