<p id="notice"><%= notice %></p>
<h2>Debate Details</h2>
<p>
  <strong>Affirmative:</strong>
  <%= @debate.affirmative_debater.user.profile.display_name %>
</p>

<p>
  <strong>Negative:</strong>
  <%= @debate.negative_debater.user.profile.display_name %>
</p>

<p>
  <strong>Judge left:</strong>
  <%= @debate.judge_left.user.profile.display_name %>
</p>

<p>
  <strong>Judge right:</strong>
  <%= @debate.judge_left.user.profile.display_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @debate.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @debate.start_date %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @debate.topic.title %>
</p>

<% @debate.rounds.each do |round| %>
  <hr> <h3> Round #<%= round.round_number %> </h3>
  <% round.messages.each do |message| %>
    <h4> Author: <%= message.author.user.profile.display_name %> </h4>
    <p> <%= message.message_content %> </p>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_debate_path(@debate) %> |
<%= link_to 'Back', debates_path %>
