<% title @debate.topic.title %>
<div class="debate-container">
<% if current_user && current_user.email == "citizen.debate.16@gmail.com" %>
    <%= link_to 'Admin: skip to results', skip_to_results_debate_path(@debate),  method: :get,  class: "btn btn-default" %>
<% end %>

<% if @debate.status == 'Completed' && session[:vote_after] && (session[:civility_vote] == @debate.topic.title || (current_user && current_user.eligible_civility_votes.exclude?(@debate.id)) )%>
      <div class="results-container">
        <%= render partial: 'results' %>
      </div>
<% end %>

<% if @debate.rounds.last.round_number == 1 || @debate.status == 'Completed' %>
<%= render 'details' %>
<% end %>

<!-- BEGIN LOGIC FOR CURRENT DEBATERS -->
<% if current_user && @debate.status == "Active" && (current_user == @debate.affirmative_debater.user || current_user == @debate.negative_debater.user  || current_user.email == "citizen.debate.16@gmail.com" ) %>
<div class="live-debate-container">
  <small class="text-muted">Note: if you hear a notification sound but do not see any new messages, please simply refresh the page.</small>

    <!-- BEGIN REAL-TIME CONTAINER FOR ROUND 2 -->
    <div class="round2" >
      <% if @debate.rounds.last.round_number == 2 && @debate.rounds.last.status != "Completed" %>
      <div class="panel panel-default" id="comments">
          <div class="panel-body">
            <h3><%= @debate.rounds.last.name %>
                <% if @debate.rounds.last.end_time %>
                ends at <%= @debate.rounds.last.ends_at.strftime('%l:%M %p') %>
                <% end %>
            </h3>
            <ul class="media-list">
              <%= render partial: 'message', collection: @messages %>
            </ul>
          </div>
      </div>
          <%= render 'short_response' %>
          <%= render 'finish_round' %>
      <% end %>
    </div>
    <!-- END REAL-TIME CONTAINTER -->

    <!-- BEGIN CONTAINER FOR OPENING STATEMENTS -->
    <div class="statments">
      <% if @debate.status == "Active" && @debate.rounds.last.round_number == 1 && @debate.rounds.last.status != "Completed" %>

          <% if current_user.id == @debate.affirmative_debater.user_id %>

              <% if @debate.opening_affirmative %>

                  <%= raw(@debate.opening_affirmative.content) %>
                  <%= link_to 'Edit your statement', edit_opening_statement_path(@debate.opening_affirmative.id) %>
                  <%= render 'finish_round' %>
                <% else %>
                  <%= render 'compose_opening' %>
              <% end %>

          <% end %>

          <% if current_user.id == @debate.negative_debater.user_id || current_user.email == "citizen.debate.16@gmail.com" %>

              <% if @debate.opening_negative %>

                  <%= raw(@debate.opening_negative.content) %>
                  <%= link_to 'Edit your statement', edit_opening_statement_path(@debate.opening_negative.id) %>
                  <%= render 'finish_round' %>
                <% else %>
                  <%= render 'compose_opening' %>
              <% end %>

          <% end %>

      <% end %>
    </div>

    <!-- BEGIN CONTAINER FOR CLOSING STATEMENTS -->
    <div class="statments">
      <% if @debate.status == "Active" && @debate.rounds.last.round_number == 3 && @debate.rounds.last.status != "Completed" %>

          <% if current_user.id == @debate.affirmative_debater.user_id || current_user.email == "citizen.debate.16@gmail.com"%>

              <% if @debate.closing_affirmative %>

                  <%= raw(@debate.closing_affirmative.content) %>
                  <%= link_to 'Edit your statement', edit_closing_statement_path(@debate.closing_affirmative.id) %>
                  <%= render 'finish_round' %>
                <% else %>
                  <%= render 'compose_closing' %>
              <% end %>

          <% end %>

          <% if current_user.id == @debate.negative_debater.user_id || current_user.email == "citizen.debate.16@gmail.com" %>

              <% if @debate.closing_negative %>

                  <%= raw(@debate.closing_negative.content) %>
                  <%= link_to 'Edit your statement', edit_closing_statement_path(@debate.closing_negative.id) %>
                  <%= render 'finish_round' %>
                <% else %>
                  <%= render 'compose_closing' %>
              <% end %>

          <% end %>

      <% end %>

    <!-- Show option to start the next round if the debate is still active and the most recent round has been completed. -->
      <% if @debate.status == "Active" && @debate.rounds.last.status == "Completed" %>
              <%= render 'start_round' %>
      <% end %>

      <!-- <h4><%= link_to "Refresh page", debate_path, class: "btn btn-default" %></h4> -->
    </div>
    <!-- END CONTAINER FOR STATEMENTS -->

</div>
<% end %>
<!-- END LOGIC FOR CURRENT DEBATERS -->

<!-- BEGIN DEBATE ARCHIVE FOR ALL USERS TO SEE -->
<% if session[:vote_before] || session[:vote_after] || current_user && (current_user.before_votes.include?(@debate.id) ||( @debate.participants.include?(current_user.id)) || current_user.email == "citizen.debate.16@gmail.com") && @debate.status != "Pending" %>
<div class="debate-recap-container">

  <% if @debate.status == "Completed" && session[:civility_vote] != @debate.topic.title && session[:civility_vote] && current_user.nil? %>

    <div class="alert-info">
      <h2 class="center"> In order to vote on more than one debate, you must first sign up or login.<br>
      <h4 class="center"> If you are already logged in, please logout first and then login again, or email <a href="citizen.debate.16@gmail.com">citizen.debate.16@gmail.com</a> if you still have issues.</h4>
      </h2>
      <h4 class="center">
        <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-default fa" %>
        <%= link_to 'Log in', new_user_session_path, class: "btn btn-default fa" %>
        <%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-default fa fa-facebook" %>
      </h4>
    </div>

  <% elsif @debate.status == "Completed" && session[:vote_before].nil? %>
        <div class="voting-container">
          <%= render partial: 'debate_votes/before_form' %>
        </div>
  <% else %>

        <% if @debate.opening_affirmative && @debate.opening_negative %>
          <%= render partial: 'opening' %>
        <% end %>
        <% if @debate.rounds.last.round_number > 2 %>
          <%= render partial: 'middle' %>
        <% end %>
        <% if @debate.closing_affirmative && @debate.closing_negative %>
          <%= render partial: 'closing' %>
        <% end %>
        <% if @debate.status == "Completed" && session[:vote_after].nil? || current_user && current_user.eligible_after_votes.include?(@debate.id) %>
        <div class="voting-container">
          <%= render partial: 'debate_votes/after_form' %>
        </div>
        <% elsif @debate.status == "Completed" && session[:vote_after] == 'already_voted' && session[:civility_vote].nil? || (current_user && current_user.eligible_civility_votes.include?(@debate.id)) %>
          <div class="voting-container">
          <%= render partial: 'civility_votes/form' %>
          </div>
        <% else %>
          <div class="disqus-comments">
          <div id="disqus_thread"></div>
          <script>
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//citizendebate.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          </div>
        <% end %>
    <hr>
  <% end %>

    <% elsif @debate.status == "Completed" && session[:vote_after].nil? %>

        <div class="voting-container">
          <%= render partial: 'debate_votes/before_form' %>
        </div>
</div>
<% end %>
</div>
