<% title @debate.title %>


<div class="debate-container">
<% if current_user && current_user.email == "citizen.debate.16@gmail.com" %>
    <%= link_to 'Admin: skip to results', skip_to_results_debate_path(@debate),  method: :get,  class: "btn btn-default" %>
<% end %>
<%= render partial: 'share_challenge' %>

<% if (@debate.status == 'Completed' || @debate.status == 'Voting period is now over.') && (session[:civility_vote] == @debate.title || (current_user && current_user.eligible_civility_votes.exclude?(@debate.id)) )%>
      <div class="results-container">
        <%= render partial: 'results' %>
      </div>
<% end %>

<% if @debate.rounds.last.round_number == 1 || @debate.status == 'Completed' || @debate.status == 'Voting period is now over.' %>
<%= render 'details' %>
<% end %>

<!-- BEGIN LOGIC FOR CURRENT DEBATERS -->
<% if current_user && (@debate.status == "Active" || @debate.status == "Pending"|| @debate.status == "Scheduling") && (current_user == @debate.affirmative_debater.user || current_user == @debate.challenger  || current_user.email == "citizen.debate.16@gmail.com" ) %>
<div class="live-debate-container">

    <!-- BEGIN REAL-TIME CONTAINER FOR ROUND 2 -->
    <div class="round2 col-lg-12 col-xs-12" >
      <% if @debate.rounds.last.round_number == 2 && @debate.rounds.last.status != "Completed" %>
      <div class="panel panel-default" id="comments">
            <h3 class="center"><%= @debate.rounds.last.name %>
                <% if @debate.rounds.last.end_time %>
                ends at <%= @debate.rounds.last.ends_at.strftime('%l:%M %p') %>
                <% end %>
            </h3>
          <div class="panel-body">
            <ul class="media-list">
              <%= render partial: 'message', collection: @messages %>
            </ul>
          </div>
      </div>
          <%= render 'short_response' %>
      <% end %>
    </div>
    <!-- END REAL-TIME CONTAINTER -->

    <!-- BEGIN CONTAINER FOR OPENING STATEMENTS -->
    <div class="statments">
      <% if @debate.status == "Pending" && @debate.rounds.last.round_number == 1 && @debate.rounds.last.status != "Completed" %>

          <% if current_user.id == @debate.affirmative_debater.user_id %>

              <% if @debate.opening_affirmative %>
                <h4 class="center">
                  <%= link_to 'Edit your statement', edit_opening_statement_path(@debate.opening_affirmative.id), class: "btn btn-default"  %>
                  <% if @debate.opening_negative %>
                    <%= render 'finish_round' %>
                  <% end %>
                </h4>
                  <%= render partial: 'opening' %>
                <% else %>
                  <%= render 'compose_opening' %>
              <% end %>
          <% end %>

          <% if @debate.negative_debater && current_user.id == @debate.negative_debater.user_id || current_user.email == "citizen.debate.16@gmail.com" %>
              <% if @debate.opening_negative %>
                  <h4 class="center">
                    <%= link_to 'Edit your statement', edit_opening_statement_path(@debate.opening_negative.id), class: "btn btn-default" %>
                    <% if @debate.opening_negative %>
                        <%= link_to 'Submit opening statement', submit_negative_opening_debate_path(@debate ), class: "btn btn-primary" %>
                    <% end %>
                  </h4>
                  <%= render partial: 'opening' %>
                <% else %>
                  <%= render 'compose_opening' %>
              <% end %>
          <% end %>

      <% end %>
    </div>

    <% if @debate.status == "Scheduling" %>
      <h3 class="text-left">
        <%= link_to "Schedule Cross-examination", schedule_debate_path(@debate), class: "btn btn-lg btn-default" %>
      </h3>
    <% end %>

    <!-- BEGIN CONTAINER FOR CLOSING STATEMENTS -->
    <div class="statments">
      <% if @debate.status == "Active" && @debate.rounds.last.round_number == 3 && @debate.rounds.last.status != "Completed" %>

          <% if current_user.id == @debate.affirmative_debater.user_id || current_user.email == "citizen.debate.16@gmail.com"%>

              <% if @debate.closing_affirmative %>
                <h4 class="center">
                  <%= link_to 'Edit your statement', edit_closing_statement_path(@debate.closing_affirmative.id), class: "btn btn-default" %>
                  <% if @debate.opening_negative %>
                    <%= render 'finish_final_round' %>
                  <% end %>
                </h4>
                  <%= render partial: 'preview_closing' %>
                <% else %>
                  <%= render 'compose_closing' %>
              <% end %>

          <% end %>

          <% if current_user.id == @debate.negative_debater.user_id || current_user.email == "citizen.debate.16@gmail.com" %>

              <% if @debate.closing_negative %>
                <h4 class="center">
                  <%= link_to 'Edit your statement', edit_closing_statement_path(@debate.closing_affirmative.id), class: "btn btn-default" %>
                  <% if @debate.opening_negative %>
                    <%= render 'finish_final_round' %>
                  <% end %>
                </h4>
                  <%= render partial: 'preview_closing' %>
                <% else %>
                  <%= render 'compose_closing' %>
              <% end %>

          <% end %>

      <% end %>

    <!-- Show option to start the next round if the debate is still active and the most recent round has been completed. -->
      <% if @debate.status == "Active" && @debate.rounds.last.status == "Completed" %>
              <% if @debate.rounds.count == 1 %>
                <%= render 'start_round' %>
                <% else %>
                <%= render 'start_final_round' %>
              <% end %>
      <% end %>

      <!-- <h4><%= link_to "Refresh page", debate_path, class: "btn btn-default" %></h4> -->
    </div>
    <!-- END CONTAINER FOR STATEMENTS -->

</div>
<% end %>
<!-- END LOGIC FOR CURRENT DEBATERS -->

<!-- BEGIN DEBATE ARCHIVE FOR ALL USERS TO SEE -->
<% if session[:vote_before] || session[:vote_after] || @debate.opening_negative.nil? || current_user && (current_user.before_votes.include?(@debate.id) ||( @debate.participants.include?(current_user.id)) || current_user.email == "citizen.debate.16@gmail.com") && @debate.status != "Pending" %>
<div class="debate-recap-container">

  <% if @debate.status == "Completed" && session[:civility_vote] != @debate.title && session[:civility_vote] && current_user.nil? %>

    <div class="alert-info">
      <h2 class="center"> In order to vote on more than one debate, you must first sign up or login.<br>
      <h4 class="center"> If you are already logged in, please logout first and then login again, or email <a href="citizen.debate.16@gmail.com">citizen.debate.16@gmail.com</a> if you still have issues.</h4>
      </h2>
      <h4 class="center">
        <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-default fa" %>
        <%= link_to 'Log in', new_user_session_path, class: "btn btn-default fa" %>
        <%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-default fa fa-facebook" %>
      </h4>
    </div>

  <% elsif @debate.status == "Completed" && session[:vote_before].nil? && @debate.participants.exclude?(current_user.id) && (current_user.nil? || current_user.before_votes.exclude?(@debate.id)) %>
        <div class="voting-container">
          <%= render partial: 'debate_votes/before_form' %>
        </div>
  <% else %>

        <% if @debate.opening_affirmative && current_user != @debate.affirmative_debater.user %>
          <%= render partial: 'opening' %>
        <% end %>
        <% if @debate.rounds.last.round_number >= 2 %>
          <%= render partial: 'middle' %>
        <% end %>
        <% if @debate.closing_affirmative && @debate.closing_negative %>
          <%= render partial: 'closing' %>
        <% end %>

        <% if @debate.status == "Completed" && (current_user && current_user.previous_votes.exclude?(@debate.id) && @debate.participants.exclude?(current_user.id)) || (current_user.nil? && session[:vote_before] && session[:vote_after].nil?) %>
        <div class="voting-container">
          <%= render partial: 'debate_votes/after_form' %>
        </div>
        <% elsif @debate.status == "Completed" && session[:vote_after] == 'already_voted' && (session[:civility_vote].nil? || (current_user && current_user.eligible_civility_votes.include?(@debate.id))) %>
          <div class="voting-container">
          <%= render partial: 'civility_votes/form' %>
          </div>
        <% elsif @debate.status == "Completed" %>
          <div class="disqus-comments">
          <div id="disqus_thread"></div>
          <script>
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//citizendebate.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          </div>
        <% end %>
    <hr>
  <% end %>

    <% elsif @debate.status == "Completed" && session[:vote_after].nil? %>

        <div class="voting-container">
          <%= render partial: 'debate_votes/before_form' %>
        </div>
</div>
<% end %>
</div>
