<div class="debate-container">
  <h2>Debate Details</h2>

  <%= render 'details' %>

<!-- BEGIN LOGIC FOR CURRENT DEBATERS -->
<% if current_user && (current_user == @debate.affirmative_debater.user || current_user == @debate.negative_debater.user) %>
<div class="debugging">
  <h1>The section below should only be visible to signed in users</h1>

    <!-- BEGIN REAL-TIME CONTAINER FOR ROUND 2 -->
    <div class="round2" >
      <% if @debate.rounds.last.round_number == 2 %>
      <div class="panel panel-default" id="comments">
          <%= render 'short_response' %>
          <div class="panel-body">
            <h3><%= @debate.rounds.last.name %>
                <% if @debate.rounds.last.end_time %>
                ends at <%= @debate.rounds.last.ends_at.strftime('%l:%M %p') %>
                <% end %>
            </h3>
            <ul class="media-list">
              <li></li>
              <%= render partial: 'message', collection: @messages %>
            </ul>
          </div>
      </div>
      <% end %>
    </div>
    <!-- END REAL-TIME CONTAINTER -->

    <!-- BEGIN CONTAINER FOR OPENING & CLOSING STATEMENTS -->
    <div class="statments">
      <% if @debate.status == "Active" && @debate.rounds.last.status != "Completed" %>

          <% if @debate.opening_statements.count == 0 %>
            <%= render 'enter_statement' %>
            <% else %>
              <%= raw(@debate.opening_statements.first.content) %>
              <%= link_to 'Edit your statement', edit_opening_statement_path(@debate.opening_statements.first) %>
            <%= render 'finish_round' %>
          <% end %>

      <% end %>

    <!-- Show option to start the next round if the debate is still active and the most recent round has been completed. -->
      <% if @debate.status == "Active" && @debate.rounds.last.status == "Completed" %>
              <%= render 'start_round' %>
      <% end %>

      <h4><%= link_to "Refresh page", debate_path, class: "btn btn-default" %></h4>
    </div>
    <!-- END CONTAINER FOR STATEMENTS -->

<% end %>
<!-- END LOGIC FOR CURRENT DEBATERS -->
</div>

<!-- BEGIN DEBATE ARCHIVE FOR ALL USERS TO SEE -->
<h1>PREVIOUS ROUNDS BELOW (not real-time)</h1>
<hr>
  <div class="opening_round">
    <%= render partial: 'debates/opening', locals: {messages: @debate.opening_statements} %>
  </div>
<hr>
  <div class="middle_round">
    <%= render partial: 'debates/middle' %>
  </div>
<hr>
  <div class="closing_round">
    <%= render partial: 'debates/closing', locals: {messages: @debate.closing_statements} %>
  </div>
<hr>
<%= link_to 'Back to All Debates', debates_path %>
</div>
