<div class="civility-container">

<%= form_for(@civility_vote) do |f| %>
  <% if @civility_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@civility_vote.errors.count, "error") %> prohibited this civility_vote from being saved:</h2>

      <ul>
      <% @civility_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden">
    <%= f.label :voter_id %><br>
    <% if current_user %>
    <%= f.number_field :voter_id, value: current_user.id %>
    <% end %>
    <%= f.label :debate_id %><br>
    <%= f.number_field :debate_id, value: @debate.id %>
    <%= f.number_field :affirmative_id, value: @debate.affirmative_id %>
    <%= f.number_field :negative_id, value: @debate.negative_id %>
  </div>

<h2 class="center" id="civility-anchor">Finally, please rate the civility of both debaters.</h2>
<div class="affirmative-field col-lg-6 col-md-5" >
  <h4>Affirmative:</h4>
  <span class="affirmative-rating">

    <input type="radio" class="rating-input" id="civility_vote_affirmative_rating_5" name="civility_vote[affirmative_rating]" value="5" >
    <label for="civility_vote_affirmative_rating_5" class="rating-star" data-toggle="tooltip" data-placement="top" title="Outstanding">
      <span class="rating-text">Outstanding</span>
    </label>

    <input type="radio" class="rating-input" id="civility_vote_affirmative_rating_4" name="civility_vote[affirmative_rating]" value="4">
    <label for="civility_vote_affirmative_rating_4" class="rating-star">
      <span class="rating-text">Very Good</span>
    </label>

    <input type="radio" class="rating-input" id="civility_vote_affirmative_rating_3" name="civility_vote[affirmative_rating]" value="3">
    <label for="civility_vote_affirmative_rating_3" class="rating-star">
      <span class="rating-text">Acceptable</span>
    </label>

    <input type="radio" class="rating-input" id="civility_vote_affirmative_rating_2" name="civility_vote[affirmative_rating]" value="2">
    <label for="civility_vote_affirmative_rating_2" class="rating-star">
      <span class="rating-text">Not okay</span>
    </label>

    <input type="radio" class="rating-input" id="civility_vote_affirmative_rating_1" name="civility_vote[affirmative_rating]" value="1">
    <label for="civility_vote_affirmative_rating_1" class="rating-star">
      <span class="rating-text">Awful</span>
    </label>

</span>
</div>


<div class="negative-field  col-lg-6 col-md-5">
<h4>Negative: </h4>
  <span class="affirmative-rating">

    <input type="radio" class="rating-input" id="civility_vote_negative_rating_5" name="civility_vote[negative_rating]" value="5" >
    <label for="civility_vote_negative_rating_5" class="rating-star" data-toggle="tooltip" data-placement="top" title="Outstanding">
      <span class="rating-text">Outstanding</span>
    </label>

    <input type="radio" class="rating-input" id="civility_vote_negative_rating_4" name="civility_vote[negative_rating]" value="4">
    <label for="civility_vote_negative_rating_4" class="rating-star">
      <span class="rating-text">Very Good</span>
    </label>

    <input type="radio" class="rating-input" id="civility_vote_negative_rating_3" name="civility_vote[negative_rating]" value="3">
    <label for="civility_vote_negative_rating_3" class="rating-star">
      <span class="rating-text">Acceptable</span>
    </label>

    <input type="radio" class="rating-input" id="civility_vote_negative_rating_2" name="civility_vote[negative_rating]" value="2">
    <label for="civility_vote_negative_rating_2" class="rating-star">
      <span class="rating-text">Not okay</span>
    </label>

    <input type="radio" class="rating-input" id="civility_vote_negative_rating_1" name="civility_vote[negative_rating]" value="1">
    <label for="civility_vote_negative_rating_1" class="rating-star">
      <span class="rating-text">Awful</span>
    </label>

</span>
</div>

  <div class="actions col-lg-10 col-md-6">
    <%= f.submit "Submit Ratings", class: "submit-ratings-button btn btn-success" %>
  </div>
<% end %>
</div>
