<%= form_for(@civility_vote) do |f| %>
  <% if @civility_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@civility_vote.errors.count, "error") %> prohibited this civility_vote from being saved:</h2>

      <ul>
      <% @civility_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="hidden">
    <%= f.label :voter_id %><br>
    <%= f.number_field :voter_id, value: current_user.id %>
    <%= f.label :debate_id %><br>
    <%= f.number_field :debate_id, value: 1 %>
  </div>
  <div class="field">
    <%= f.label :debater_id %><br>
    <%= f.number_field :debater_id %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>

  <div class="field">
    <h3> Please rate the affirmative debater's civility</h3>
    <%= label_tag(:one, "Terribly unprofessional", :class=> "nps") %>
    <i class="glyphicon glyphicon-star-empty"></i>
    <%= f.radio_button :rating, 1, :class=>"star" %>
    <%= f.radio_button :rating, 2  %>
    <%= f.radio_button :rating, 3  %>
    <%= f.radio_button :rating, 4  %>
    <%= f.radio_button :rating, 5  %>
    <%= label_tag(:five, "Charismatically civil", :class=> "nps") %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
