<p id="notice"><%= notice %></p>

<p>
  <strong>Voter:</strong>
  <%= @civility_vote.voter_id %>
</p>

<p>
  <strong>Debate:</strong>
  <%= @civility_vote.debate_id %>
</p>

<p>
  <strong>Affirmative Debater:</strong>
  <%= @civility_vote.affirmative_id %>
</p>

<p>
  <strong>Affirmative Rating:</strong>
  <%= @civility_vote.affirmative_rating %>
</p>

<p>
  <strong>Negative Debater:</strong>
  <%= @civility_vote.negative_id %>
</p>

<p>
  <strong>Negative Rating:</strong>
  <%= @civility_vote.negative_rating %>
</p>

<%= link_to 'Edit', edit_civility_vote_path(@civility_vote) %> |
<%= link_to 'Back', civility_votes_path %>
