<p id="notice"><%= notice %></p>

<h1>Listing Closing Statements</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Content</th>
      <th>Round</th>
      <th>Debate</th>
      <th>Unread</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @closing_statements.each do |closing_statement| %>
      <tr>
        <td><%= closing_statement.author_id %></td>
        <td><%= closing_statement.content %></td>
        <td><%= closing_statement.round_id %></td>
        <td><%= closing_statement.debate_id %></td>
        <td><%= closing_statement.unread %></td>
        <td><%= link_to 'Show', closing_statement %></td>
        <td><%= link_to 'Edit', edit_closing_statement_path(closing_statement) %></td>
        <td><%= link_to 'Destroy', closing_statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Closing statement', new_closing_statement_path %>
