<div class="well">
  <%= form_for (@opening_statement) do |f| %>
    <% if @opening_statement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opening_statement.errors.count, "error") %> prohibited this opening_statement from being saved:</h2>

      <ul>
      <% @opening_statement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
          <% if current_user.email == "citizen.debate.16@gmail.com" %>
          <div class="">
            round_id: <%= f.number_field :round_id, value: @opening_statement.round_id %> <br>
            debate_id: <%= f.number_field :debate_id, value: @opening_statement.debate_id %> <br>
            author_id: <%= f.number_field :author_id, value: @opening_statement.author_id %>
          </div>
          <% end %>
            <%= f.label :content, "Post your opening statement." %><br>
            <%= f.cktext_area :content, rows: 4, class: 'ckeditor-content', required: true, :ckeditor => {:language => 'us'} %>
          </div>
    <%= f.submit 'Update statement', class: 'btn btn-primary btn-lg' %>
    </div>
  <% end %>
</div>
